@font-face {
  font-family: "plain light";
  src: url(/Font/ttf/plain-light-webfont.ttf);
}
@font-face {
  font-family: "silk";
  src: url(/Font/ttf/silkserif-regularitalic-webfont.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* cursur  */
#cursur {
  width: 3vw;
  height: 3vw;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #ffffff69;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

/* loader  */
#loader {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: 999;
  padding: 8vw 5vw;
}
#loader .line {
  /* background-color: red; */
  height: fit-content;
  display: flex;
  align-items: flex-start;
  gap: 3vw;
  overflow: hidden;
}
#loader .line h1 {
  font-size: 7vw;
  line-height: 7vw;
  text-transform: uppercase;
}
#line1-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 7vw;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-family: "silk";
  font-weight: 100;
}
#line1-part1 h5 {
  /* background-color: red; */
  width: 5.5vw;
  text-align: right;
}
.line h2 {
  font-size: 7.3vw;
  line-height: 6.2vw;
  text-transform: uppercase;
  /* animation-name: load-anime; */
  font-weight: 500;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes load-anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    opacity: 1;
  }
  47% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    opacity: 0;
  }
  50% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: 1;
  }
  100% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: 0;
  }
}

#loader .wait-txt {
  padding: 5vw 20vw;
}
#loader .wait-txt p {
  font-size: 0.9vw;
  line-height: 1.3;
}

/* main div  */
#main {
  width: 100%;
  position: relative;
  background-color: #000;
}

/* page 1  */
#page1 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
}
#page1 #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(255, 0, 0, 0.514); */
  padding: 3.5vw 5vw;
}
#nav .nav-part2 {
  display: flex;
  gap: 2.7vw;
  align-items: center;
}
.nav-part2 h5 {
  font-size: 1.1vw;
  font-weight: 500;
}

.hero {
  /* background-color: rgb(71, 81, 85); */
  width: 73%;
  margin-left: 27%;
  overflow: hidden;
  height: fit-content;
}
.hero:nth-child(2) {
  margin-top: 4.5vw;
}
.hero:nth-child(4) {
  display: flex;
  gap: 5px;
}

.hero:nth-child(4) h2,
.hero:nth-child(4) h3 {
  font-size: 7.5vw;
  line-height: 7.5vw;
  font-weight: 600;
  text-transform: uppercase;
}
.hero:nth-child(4) h2 {
  border-bottom: 0.7vw solid #fff;
}
.hero:nth-child(4) h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: none;
}
.hero h1 {
  font-size: 7.5vw;
  line-height: 7.5vw;
  font-weight: 600;
  text-transform: uppercase;
}

/* page 2  */
#page2 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
  position: relative;
  padding: 5vw 0 0;
}
#page2 .video-container {
  width: 73%;
  height: 80%;
  margin-left: 27%;
  /* background-color: rebeccapurple; */
  position: relative;
  /* overflow: hidden; */
}
.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}
#video-crsr {
  width: 11vw;
  height: 11vw;
  position: absolute;
  left: 65%;
  top: -10%;
  border-radius: 50%;
  background-color: #ffa63d;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}

/* page 3  */
#page3 {
  width: 100%;
  min-height: 100vh;
  background-color: #f1aaaa;
}

/* page 4 */
#page4 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
  padding-top: 5vw;
  padding-bottom: 1vw;
}
#page4-content {
  width: 73%;
  margin-left: 27%;
  position: relative;
  padding-right: 5vw;
}
#page4-content h1 {
  font-size: 7.5vw;
  font-weight: 600;
  text-transform: uppercase;
}
#page4-content .underline {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 1.5vw 0 3vw;
}
#page4-content > p {
  font-size: 2.4vw;
  margin-bottom: 4.5vw;
}
#page4 .page4-flex {
  display: flex;
}
.page4-flex .flex-left {
  /* width: 100%; */
  height: 90vh;
}
.page4-flex .flex-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page4-flex .flex-right {
  width: 30%;
  margin-left: 2vw;
}
.page4-flex .flex-right p {
  font-size: 1.1vw;
  line-height: 1.5vw;
}

#page4 #blue-div {
  background-color: #3f7df4;
  padding: 4vw 3.5vw;
  position: relative;
  margin-top: -20vh;
  margin-left: 23vw;
  margin-bottom: 10vw;
}
#blue-div .blue-elm {
  border-bottom: 1px solid #ffffffaf;
  padding: 2vw 0;
  display: flex;
  gap: 5vw;
}
#blue-div .blue-elm h5 {
  font-size: 1.7vw;
  font-weight: 500;
}
#page4-content .underline {
  margin: 2vw 0;
}
#page4-content .end {
  font-size: 1.1vw;
}

/* page 5  */
#page5 {
  width: 100%;
  height: 100vh;
  padding: 2vw 0;
  background-color: #151515;
  /* background-color: rebeccapurple; */
}
#page5 .page5-elm {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: 1.1;
}
.page5-elm h1 {
  /* background-color: rebeccapurple; */
  font-size: 7.5vw;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 100;
  animation-name: marquee-anime;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.page5-elm span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-style: italic;
  font-family: "silk";
}
#page5 .elm2 h1 {
  transform: translateX(-100% - 20px);
  animation-name: marquee-anime;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes marquee-anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

/* page 6  */
#page6 {
  width: 100%;
  height: 100vh;
  padding-top: 5vw;
  background-color: #151515;
}
#page6-container {
  width: 73%;
  margin-left: 27%;
  position: relative;
  padding-right: 5vw;
}
#page6-container .underline {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
#page6-container h1 {
  font-size: 7.5vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2vw;
  height: fit-content;
  height: 20vh;
}
#page6-container h1 i {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 100;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 3vw 0;
}
.foot-left {
  width: 45%;
}
.foot-right {
  width: 40%;
}
.footer h6 {
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 2vw;
  margin-bottom: 2vw;
}
.footer h5 {
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2vw;
}
.footer p {
  font-size: 2vw;
  font-weight: 500;
  line-height: 2vw;
}
#page6-container > p {
  margin: 4vw 0;
}
