@font-face {
  font-family: "plain light";
  src: url(/Font/ttf/plain-light-webfont.ttf);
}
@font-face {
  font-family: "silk";
  src: url(/Font/ttf/silkserif-regularitalic-webfont.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* cursur  */
#cursur {
  width: 3vw;
  height: 3vw;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #ffffff69;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

/* loader  */
#loader {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: 999;
  padding: 8vw 5vw;
  /* display: none; */
}
#loader .line {
  /* background-color: red; */
  height: fit-content;
  display: flex;
  align-items: flex-start;
  gap: 3vw;
  overflow: hidden;
}
#loader .line h1 {
  font-size: 7vw;
  line-height: 7vw;
  text-transform: uppercase;
}
#line1-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 7vw;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-family: "silk";
  font-weight: 100;
}
#line1-part1 h5 {
  /* background-color: red; */
  width: 5.5vw;
  text-align: right;
}
.line h2 {
  font-size: 7.3vw;
  line-height: 6.2vw;
  text-transform: uppercase;
  /* animation-name: load-anime; */
  font-weight: 500;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes load-anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    opacity: 1;
  }
  47% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    opacity: 0;
  }
  50% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: 1;
  }
  100% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: 0;
  }
}

#loader .wait-txt {
  padding: 5vw 20vw;
}
#loader .wait-txt p {
  font-size: 0.9vw;
  line-height: 1.3;
}

/* main div  */
#main {
  width: 100%;
  position: relative;
  background-color: #000;
}

/* page 1  */
#page1 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
}
#page1 #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(255, 0, 0, 0.514); */
  padding: 3.5vw 5vw;
}
#nav .nav-part2 {
  display: flex;
  gap: 2.7vw;
  align-items: center;
}
.nav-part2 h5 {
  font-size: 1.1vw;
  font-weight: 500;
}

.hero {
  /* background-color: rgb(71, 81, 85); */
  width: 73%;
  margin-left: 27%;
  overflow: hidden;
  height: fit-content;
}
.hero:nth-child(2) {
  margin-top: 4.5vw;
}
.hero:nth-child(4) {
  display: flex;
  gap: 5px;
}

.hero:nth-child(4) h2,
.hero:nth-child(4) h3 {
  font-size: 7.5vw;
  line-height: 7.5vw;
  font-weight: 600;
  text-transform: uppercase;
}
.hero:nth-child(4) h2 {
  border-bottom: 0.7vw solid #fff;
}
.hero:nth-child(4) h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: none;
}
.hero h1 {
  font-size: 7.5vw;
  line-height: 7.5vw;
  font-weight: 600;
  text-transform: uppercase;
}
